.addNew{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* overflow: hidden; */
    z-index: 999;
    background-color: #62798154;
}.theAadd{
    width: 900px;
    height: 580px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 15px;
}
.theAadd h2{
    color: #130F26;
    margin: 0px 25px 20px 730px ;
    padding-top: 70px;
}
.theAadd .close{
    color: #118AB2;
    font-size: 18px;
    position: absolute;
    top: 102px;
    left: 263px;
    cursor: pointer;
}
.theAadd .addcont{
    height:300px ;
    width: 100%;
    margin: 30px auto;
}
.addcont div{
    height: 80px;
    width: 395px;
    margin:28px 27px 0 27px ;
    text-align: right;
    color: #1F1F1F;
}
.addcont input{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: right;
    box-shadow: none;
    border: 1px solid #2e2a2a5d;
    border-radius: 5px;
}
.addcont .right{float: right;}
.addcont .left {float: left;}
.addcont Button{
    margin: 25px 30px 20px 778px ;
    background-color: #118AB2;
}

@media (max-width: 480px) {
.theAadd{
    position: relative;
    width: 365px;
    height: 1150px;
    margin: 26px auto;
}
.theAadd h2{
    margin: 0px 20px 20px 160px ;
    padding-top: 50px;
    text-align: right;
}
.theAadd .close{
    top: 50px;
    left: 30px;
}
.theAadd .addcont{
    height:700px ;
}
.addcont div{
    width: 335px;
    margin:17px auto ;
}
.addcont .right{float: none;}
.addcont .left {float: none;}
.addcont Button{
    width: 92%;
    margin: 0 4%;
    float: none;
}
}