.HomeContent{
    width: 80%;
    margin-left: 3%;
}
 .show{
    height: 375PX;
    margin-top: 30px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
}
.hight{ 
    height: 617px;
}
.HomeContent .showBut{
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding-top: 20px;
    
}
.HomeContent .showBut button{  color: #118AB2;
    display: flex;
    margin: auto; 
    background-color: #fff;
    border: none;
}
.HomeContent .showBut button svg{
    width: 0;
    margin: 5px;
}
.pageBut button{
    background-color: inherit;
    border: none;
    float: right;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.527);
    margin: 10px 25px 0 0px;
}
.pageBut .active{
    color: rgb(0, 0, 0);
}

.clear{
    clear: both;
}
@media (max-width: 480px) {
    .HomeContent{
        width: 100%;
        margin: 0%;
    }
}
