.admin{
    width: 210px;
    height: 63px;
    display: flex;
    justify-content: flex-end;    
    box-shadow: 1px 2px 1px  #00000013;
}
.admin .info{
    text-align: right;
}
.admin h4{
    font-size: 16px;
    margin: 13px 0 0 ;
    color: #1f1f1f;
}
.admin p{
    margin: 6px 0;
    font-size: 12px;
    color: #828282;
}
.admin .icon{
    height: 20px;
    width: 20px;
    margin: 20px 35px 0 0;
    cursor: pointer;
}
.admin >img{
    width: 40px;
    height: 40px;
    margin: 11px 20px 8px 10px;
    border-radius: 4px;
}
.admin .admn {
    width: 210px;
    height: 0px;
    background-color: #fff;
    position: absolute;
    top: 72px;
    box-shadow: 1px 2px 1px  #00000013;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;
    transition: all .2s ease-in-out;
} 
.admn.open{
    height: 110px;
}
.admin .admn a{
    height: 25px;
    width: 200px;
    text-decoration: none;
    color: #02151B;
    font-size: 18px;
    margin: 21px auto 0;
    display: block;
    text-align: center;
    padding: 3px 0px 0;
}
.admin .admn a:hover{background-color: #f0f5f6;}

@media (max-width: 480px) {
    .admin{
        width: 160px;
        justify-content: flex-end;    
        box-shadow: none;
    }
    .admin .icon{display: none};
    .admin .admn {
        width: 360px;
        height: 0px;
        top: 70px;
        left: 50%;
        transform: translate(-50%, 0);
    } 
    .admn.open{
        height: 120px;
    }
}