.message {
    width: 0px;
    height: 5px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
    transform: translateY(-20px);
    transition: all 0.2s ease-in-out; 
}
.message.open{
    transform: translateY(0);
    width: 470px;
    height: 325px;
}
.message .notsCount{
    float: right;
    margin: 22px 18px 11px 5px;
    color: #118AB2;
}
.message .mCont{
    height: 300px;
}

@media (max-width: 480px){
    .message.open {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 90px;
        width: 380px;
    }
}