.navbar{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 82px;
    background-color: #fff;
}
.navcont{
    display: flex;
}
.nav-admin{
    margin: 8px 0 0 52px  ;
}
.navbar .navNot{
    width: 24px;
    height: 24px;
    margin:30px 0 0 25px; 
    z-index: 99; 
    cursor: pointer;
}
.menuCont{
    display: none;
}
@media (max-width: 480px) {
    .navbar{
        position: relative;
    } 
    .navcont{
        width: 260px;
    }
    .nav-admin{
        margin: 0px 0 0 0px  ;
    }
    .navbar .navNot{
        margin:18px 20px 0 0px; 
    }
    .menuCont{
        display: block;
        width: 160px;
        height: 82px;
        position: absolute;
        top: 0;
        right: 0;
    }    
    .phone-menu {
        position: absolute;
        overflow: hidden;
        width: 0px;
        top: 0;
        right: -225px;
        transition: all 0.4s ease-in-out; 
        z-index: 999;
    }
      .phone-menu.open {
        right: 0px;
        width: 225px;
    }
    .navbar .menu-icon { 
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
    }
}