.navbar{
    display: flex;
    height: 102px;
    width: 84%;
    margin: 0;
    background-color: #fff;

}
.nav-admin{
    margin: 20px 0 0 52px  ;
}
.navbar .navNot{
    width: 24px;
    height: 24px;
    margin: 40px 0 0 24px;  
}
.navbar .navNot:hover{
    cursor: pointer;
}